<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wzc.constraintlayoutexamples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".FlowActivity"
            android:label="@string/flow_activity"
            android:exported="false" />
        <activity
            android:name=".LinearConstraintActivity"
            android:exported="false"
            android:label="@string/linear_constraint_activity" />
        <activity
            android:name=".ConstraintSet2Activity"
            android:exported="false"
            android:label="@string/constraint_set_2_activity" />
        <activity
            android:name=".ConstraintSet1Activity"
            android:exported="false"
            android:label="@string/constraint_set_1_activity" />
        <activity
            android:name=".PlaceholderActivity"
            android:exported="false"
            android:label="@string/placeholder_activity" />
        <activity
            android:name=".CircularRevealActivity"
            android:exported="false"
            android:label="@string/circular_reveal_activity" />
        <activity
            android:name=".LayerActivity"
            android:exported="false" />
        <activity
            android:name=".GroupActivity"
            android:exported="false"
            android:label="@string/group_activity" />
        <activity
            android:name=".PercentActivity"
            android:exported="false"
            android:label="@string/percent_activity" />
        <activity
            android:name=".GoneMarginActivity"
            android:exported="false"
            android:label="@string/gone_margin_activity" />
        <activity
            android:name=".ConstrainedWidthHeightActivity"
            android:exported="false"
            android:label="@string/constrained_width_height_activity" />
        <activity
            android:name=".WeightActivity"
            android:exported="false"
            android:label="@string/weight_activity" />
        <activity
            android:name=".CircularPositioningActivity"
            android:label="@string/circlular_positioning_activity" />
        <activity
            android:name=".KeyframeAnimationsActivity"
            android:label="@string/keyframe_animations_activity" />
        <activity
            android:name=".ChainActivity"
            android:label="@string/chain_activity" />
        <activity
            android:name=".MatchConstraintVsMatchParentActivity1"
            android:label="@string/matchconstraint_vs_matchparent_activity_1" />
        <activity
            android:name=".MatchConstraintVsMatchParentActivity2"
            android:label="@string/matchconstraint_vs_matchparent_activity_2" />
        <activity
            android:name=".AdjustViewSizeActivity"
            android:label="@string/adjust_view_size_activity" />
        <activity
            android:name=".BiasConstraintActivity"
            android:label="@string/bias_constraint_activity" />
        <activity
            android:name=".BarrierActivity"
            android:label="@string/barrier_activity" />
        <activity
            android:name=".GuidelineActivity"
            android:label="@string/guideline_activity" />
        <activity
            android:name=".BaselineAlignmentActivity"
            android:label="@string/baseline_alignment_activity" />
        <activity
            android:name=".MessageItemActivity"
            android:label="@string/message_item_activity" />
        <activity
            android:name=".AlignmentActivity"
            android:label="@string/alignment_activity" />
        <activity
            android:name=".OrderPositionActivity"
            android:label="@string/order_position_activity" />
        <activity
            android:name=".ParentPositionActivity"
            android:label="@string/parent_position_activity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>